streamlit
streamlit_chat
langchain
torch
accelerate
sentence_transformers
faiss-cpu
tiktoken
huggingface-hub
pdfminer.six
pypdf2
llama-cpp-python
typing-extensions<4.6.0
openai
cohere
pip==23.3.2
pypdf
